@import "../variables/themes/_nova.scss";

$quick-view-bg: #F3F5F7;
$wrapper-width: 102.4rem;
$footer-shadow: 0 -3.2rem 1rem -3.2rem rgba($black-01, 0.09);

// для новой отчетности

header {
  position: fixed;
  width: 100%;
  background-color: $body-bg;
  z-index: 998;

  .more {
    &.count-to-upper {
      position: relative;
      margin-top: 0;

      .count {
        margin: 0;
        padding: 0;
        min-width: 0;
        width: .7rem;
        height: .7rem;
        top: .7rem;
        right: .7rem;
        border-radius: 50%;
      }
    }
  }
}

.wrapper {
  max-width: $wrapper-width;
}

.personal-box {
  padding-right: 1.6rem;
  padding-left: 1.6rem;

  .header-button.more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.sidebar {
  padding-top: 6.4rem;
  z-index: 997;
}

.document-body {
  padding-top: 6rem;
}

.content-box {
  padding-top: 6rem;
  padding-left: 22.4rem;
}

.panel-color {
  background-color: $black-07;
}

.settings-list {
  > dt {
    padding-top: .6rem;
  }
  > dd {
    padding-top: .6rem;
    padding-bottom: .6rem;
  }
}

.txt-light-gray {
  color: $black-04;
}

.etax-tabs .tabs-bar {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  background-color: $black-07;
}

.checkbox-single.checkbox-wrapper {
  position: relative;
  top: -.4rem;
}

.quick-view-table table  {
  tr:hover {
    background-color: transparent;
    td {
      background-color: $quick-view-bg;
    }
  }
  .quick-view + tr:hover td {
    background-color: transparent;
  }
}

.quick-view {
  &.quick-view-selected + tr > td,
  &.is-open > td  {
    background-color: $quick-view-bg;
    border-bottom: 1px solid $black-06;
    &:first-child {
      border-bottom-left-radius: 0;
    }
    &:last-child {
      border-bottom-right-radius: 0;
    }
  }

  & + tr {
    background-color: transparent;
    td {
      border-width: 0;
      background-color: transparent;
    }
    .quick-view-body {
      background-color: $quick-view-bg;
      border-bottom-left-radius: .8rem;
      border-bottom-right-radius: .8rem;
    }
    .ending {
      border-top-color: $black-06;
    }
  }

  & + tr > td {
    &:first-child {
      border-top-left-radius: 0;
    }
    &:last-child {
      border-top-right-radius: 0;
    }
  }
}

.empty-list-wrapper {
  padding-top: 6.4rem;
}

.notifications-panel {
  overflow-y: auto;
  margin-right: -42.4rem;
  width: 42rem;
  height: 100%;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  padding-top: 6rem;
  box-shadow: $shadow-menu-top-bar;
  transition: .3s;

  &.visible {
    margin-right: 0;
    transition: .3s;
  }
}

.wizard .step {
  &::before {
    border-width: .2rem;
  }
  &.active::before {
    border-color: $primary-02;
  }
}

table.documents-table-head {
  padding-bottom: .2rem;
}

.documents-table-head {
  th {
    &:first-child {
      padding-left: 2.5rem;
    }
    &:last-child {
      padding-right: 2.5rem;
    }
  }
}

.etax-collapse {
  border-radius: .8rem;
  .settings-page &,
  &.is-open,
  &:hover {
    background-color: $black-07;
  }

  .collapse-heading-wrapper {
    border-width: 0;
    border-radius: .8rem .8rem 0 0;
    padding: 1.6rem 2.4rem;
  }

  .heading-with-label {
    padding-left: 5.5rem;
  }

  .collapse-heading-wrapper + div[aria-expanded="true"] {
    border-top: 1px solid $black-06;
  }
}

.row-with-label {
  position: relative;
  .i-label {
    left: -3rem;
  }
}

.preview-wrapper {
  max-width: 100%;
  height: calc(100vh - 15rem);
  overflow-y: scroll;
  border: 1px solid $black-05;
  background: $white;
  color: $black-04;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
}

.list-h a:hover > i {
  color: $primary-03;
  transition: color .3s;
}

.table-with-border table {
  border: 1px solid $black-06;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}

.button.more .prodicon-more.icon-16 {
  min-width: 2rem;
}

.etax-table-gray {
  table {
    border: 1px solid $black-06;
    border-radius: .8rem;
  }
}

.settings-body {
  height: 100%;
}

.settings-box-height {
  height: 100%;
}

.settings-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  min-height: calc(100vh - 15rem);
}

.settings-footer {
  width: 100%;
  > .footer-panel {
    padding: 2.4rem;
    background-color: $black-07;
    border-radius: .8rem;
  }
}

.icon-16 {
  font-size: 1.6rem;
  line-height: 2rem;
}

.icon-18 {
  font-size: 1.8rem;
  line-height: 2rem;
}

.icon-24 {
  font-size: 2.4rem;
}

.files-list {
  > li {
    border-radius: .8rem;
    &:hover {
      background-color: $black-07;
      transition: background-color .5s;
    }
  }
}

.button-link {
  &.disabled {
    background-color: transparent !important;
  }
  &:hover i {
    color: $link-hover;
  }
}

.list-success {
  li {
    position: relative;
    padding-left: 1.2rem;
    margin-bottom: .8rem;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -.2rem;
      width: .4rem;
      height: .4rem;
      background-color: $primary-02;
      border-radius: 50%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.demo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10010;
  opacity: .15;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.esphere.ru/images/etax/demo-bg.png');
  background-repeat: repeat;
  pointer-events: none;
}

.daterange-delimiter {
  max-width: 1.8rem;
}
