
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/lineicon/Flaticon.eot");
  src: url("../fonts/lineicon/Flaticon.eot?#iefix") format("embedded-opentype"),
  url("../fonts/lineicon/Flaticon.woff") format("woff"),
  url("../fonts/lineicon/Flaticon.ttf") format("truetype"),
  url("../fonts/lineicon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/lineicon/Flaticon.svg#Flaticon") format("svg");
  }
}

i[class*="uicon-"],
[class*="uicon-"]:before,
[class*="uicon-"]:after {
  font-family: Flaticon;
  font-size:  110%;
  /*font-size: 4rem;
  line-height: 7rem;*/
  line-height: inherit;
  font-style: normal;
  vertical-align: top;
}

i[class*="uicon-"] {display: inline-block;}

.uicon-add:before { content: "\f100"; }
.uicon-add-1:before { content: "\f101"; }
.uicon-add-2:before { content: "\f102"; }
.uicon-add-3:before { content: "\f103"; }
.uicon-agenda:before { content: "\f104"; }
.uicon-alarm:before { content: "\f105"; }
.uicon-alarm-1:before { content: "\f106"; }
.uicon-alarm-clock:before { content: "\f107"; }
.uicon-alarm-clock-1:before { content: "\f108"; }
.uicon-albums:before { content: "\f109"; }
.uicon-app:before { content: "\f10a"; }
.uicon-archive:before { content: "\f10b"; }
.uicon-archive-1:before { content: "\f10c"; }
.uicon-archive-2:before { content: "\f10d"; }
.uicon-archive-3:before { content: "\f10e"; }
.uicon-attachment:before { content: "\f10f"; }
.uicon-back:before { content: "\f110"; }
.uicon-battery:before { content: "\f111"; }
.uicon-battery-1:before { content: "\f112"; }
.uicon-battery-2:before { content: "\f113"; }
.uicon-battery-3:before { content: "\f114"; }
.uicon-battery-4:before { content: "\f115"; }
.uicon-battery-5:before { content: "\f116"; }
.uicon-battery-6:before { content: "\f117"; }
.uicon-battery-7:before { content: "\f118"; }
.uicon-battery-8:before { content: "\f119"; }
.uicon-battery-9:before { content: "\f11a"; }
.uicon-binoculars:before { content: "\f11b"; }
.uicon-blueprint:before { content: "\f11c"; }
.uicon-bluetooth:before { content: "\f11d"; }
.uicon-bluetooth-1:before { content: "\f11e"; }
.uicon-bookmark:before { content: "\f11f"; }
.uicon-bookmark-1:before { content: "\f120"; }
.uicon-briefcase:before { content: "\f121"; }
.uicon-broken-link:before { content: "\f122"; }
.uicon-calculator:before { content: "\f123"; }
.uicon-calculator-1:before { content: "\f124"; }
.uicon-calendar:before { content: "\f125"; }
.uicon-calendar-1:before { content: "\f126"; }
.uicon-calendar-2:before { content: "\f127"; }
.uicon-calendar-3:before { content: "\f128"; }
.uicon-calendar-4:before { content: "\f129"; }
.uicon-calendar-5:before { content: "\f12a"; }
.uicon-calendar-6:before { content: "\f12b"; }
.uicon-calendar-7:before { content: "\f12c"; }
.uicon-checked:before { content: "\f12d"; }
.uicon-checked-1:before { content: "\f12e"; }
.uicon-clock:before { content: "\f12f"; }
.uicon-clock-1:before { content: "\f130"; }
.uicon-close:before { content: "\f131"; }
.uicon-cloud:before { content: "\f132"; }
.uicon-cloud-computing:before { content: "\f133"; }
.uicon-cloud-computing-1:before { content: "\f134"; }
.uicon-cloud-computing-2:before { content: "\f135"; }
.uicon-cloud-computing-3:before { content: "\f136"; }
.uicon-cloud-computing-4:before { content: "\f137"; }
.uicon-cloud-computing-5:before { content: "\f138"; }
.uicon-command:before { content: "\f139"; }
.uicon-compact-disc:before { content: "\f13a"; }
.uicon-compact-disc-1:before { content: "\f13b"; }
.uicon-compact-disc-2:before { content: "\f13c"; }
.uicon-compass:before { content: "\f13d"; }
.uicon-compose:before { content: "\f13e"; }
.uicon-controls:before { content: "\f13f"; }
.uicon-controls-1:before { content: "\f140"; }
.uicon-controls-2:before { content: "\f141"; }
.uicon-controls-3:before { content: "\f142"; }
.uicon-controls-4:before { content: "\f143"; }
.uicon-controls-5:before { content: "\f144"; }
.uicon-controls-6:before { content: "\f145"; }
.uicon-controls-7:before { content: "\f146"; }
.uicon-controls-8:before { content: "\f147"; }
.uicon-controls-9:before { content: "\f148"; }
.uicon-database:before { content: "\f149"; }
.uicon-database-1:before { content: "\f14a"; }
.uicon-database-2:before { content: "\f14b"; }
.uicon-database-3:before { content: "\f14c"; }
.uicon-diamond:before { content: "\f14d"; }
.uicon-diploma:before { content: "\f14e"; }
.uicon-dislike:before { content: "\f14f"; }
.uicon-dislike-1:before { content: "\f150"; }
.uicon-divide:before { content: "\f151"; }
.uicon-divide-1:before { content: "\f152"; }
.uicon-division:before { content: "\f153"; }
.uicon-document:before { content: "\f154"; }
.uicon-download:before { content: "\f155"; }
.uicon-edit:before { content: "\f156"; }
.uicon-edit-1:before { content: "\f157"; }
.uicon-eject:before { content: "\f158"; }
.uicon-eject-1:before { content: "\f159"; }
.uicon-equal:before { content: "\f15a"; }
.uicon-equal-1:before { content: "\f15b"; }
.uicon-equal-2:before { content: "\f15c"; }
.uicon-error:before { content: "\f15d"; }
.uicon-exit:before { content: "\f15e"; }
.uicon-exit-1:before { content: "\f15f"; }
.uicon-exit-2:before { content: "\f160"; }
.uicon-eyeglasses:before { content: "\f161"; }
.uicon-fast-forward:before { content: "\f162"; }
.uicon-fast-forward-1:before { content: "\f163"; }
.uicon-fax:before { content: "\f164"; }
.uicon-file:before { content: "\f165"; }
.uicon-file-1:before { content: "\f166"; }
.uicon-file-2:before { content: "\f167"; }
.uicon-film:before { content: "\f168"; }
.uicon-fingerprint:before { content: "\f169"; }
.uicon-flag:before { content: "\f16a"; }
.uicon-flag-1:before { content: "\f16b"; }
.uicon-flag-2:before { content: "\f16c"; }
.uicon-flag-3:before { content: "\f16d"; }
.uicon-flag-4:before { content: "\f16e"; }
.uicon-focus:before { content: "\f16f"; }
.uicon-folder:before { content: "\f170"; }
.uicon-folder-1:before { content: "\f171"; }
.uicon-folder-10:before { content: "\f172"; }
.uicon-folder-11:before { content: "\f173"; }
.uicon-folder-12:before { content: "\f174"; }
.uicon-folder-13:before { content: "\f175"; }
.uicon-folder-14:before { content: "\f176"; }
.uicon-folder-15:before { content: "\f177"; }
.uicon-folder-16:before { content: "\f178"; }
.uicon-folder-17:before { content: "\f179"; }
.uicon-folder-18:before { content: "\f17a"; }
.uicon-folder-19:before { content: "\f17b"; }
.uicon-folder-2:before { content: "\f17c"; }
.uicon-folder-3:before { content: "\f17d"; }
.uicon-folder-4:before { content: "\f17e"; }
.uicon-folder-5:before { content: "\f17f"; }
.uicon-folder-6:before { content: "\f180"; }
.uicon-folder-7:before { content: "\f181"; }
.uicon-folder-8:before { content: "\f182"; }
.uicon-folder-9:before { content: "\f183"; }
.uicon-forbidden:before { content: "\f184"; }
.uicon-funnel:before { content: "\f185"; }
.uicon-garbage:before { content: "\f186"; }
.uicon-garbage-1:before { content: "\f187"; }
.uicon-garbage-2:before { content: "\f188"; }
.uicon-gift:before { content: "\f189"; }
.uicon-help:before { content: "\f18a"; }
.uicon-hide:before { content: "\f18b"; }
.uicon-hold:before { content: "\f18c"; }
.uicon-home:before { content: "\f18d"; }
.uicon-home-1:before { content: "\f18e"; }
.uicon-home-2:before { content: "\f18f"; }
.uicon-hourglass:before { content: "\f190"; }
.uicon-hourglass-1:before { content: "\f191"; }
.uicon-hourglass-2:before { content: "\f192"; }
.uicon-hourglass-3:before { content: "\f193"; }
.uicon-house:before { content: "\f194"; }
.uicon-id-card:before { content: "\f195"; }
.uicon-id-card-1:before { content: "\f196"; }
.uicon-id-card-2:before { content: "\f197"; }
.uicon-id-card-3:before { content: "\f198"; }
.uicon-id-card-4:before { content: "\f199"; }
.uicon-id-card-5:before { content: "\f19a"; }
.uicon-idea:before { content: "\f19b"; }
.uicon-incoming:before { content: "\f19c"; }
.uicon-infinity:before { content: "\f19d"; }
.uicon-info:before { content: "\f19e"; }
.uicon-internet:before { content: "\f19f"; }
.uicon-key:before { content: "\f1a0"; }
.uicon-lamp:before { content: "\f1a1"; }
.uicon-layers:before { content: "\f1a2"; }
.uicon-layers-1:before { content: "\f1a3"; }
.uicon-like:before { content: "\f1a4"; }
.uicon-like-1:before { content: "\f1a5"; }
.uicon-like-2:before { content: "\f1a6"; }
.uicon-link:before { content: "\f1a7"; }
.uicon-list:before { content: "\f1a8"; }
.uicon-list-1:before { content: "\f1a9"; }
.uicon-lock:before { content: "\f1aa"; }
.uicon-lock-1:before { content: "\f1ab"; }
.uicon-locked:before { content: "\f1ac"; }
.uicon-locked-1:before { content: "\f1ad"; }
.uicon-locked-2:before { content: "\f1ae"; }
.uicon-locked-3:before { content: "\f1af"; }
.uicon-locked-4:before { content: "\f1b0"; }
.uicon-locked-5:before { content: "\f1b1"; }
.uicon-locked-6:before { content: "\f1b2"; }
.uicon-login:before { content: "\f1b3"; }
.uicon-magic-wand:before { content: "\f1b4"; }
.uicon-magnet:before { content: "\f1b5"; }
.uicon-magnet-1:before { content: "\f1b6"; }
.uicon-magnet-2:before { content: "\f1b7"; }
.uicon-map:before { content: "\f1b8"; }
.uicon-map-1:before { content: "\f1b9"; }
.uicon-map-2:before { content: "\f1ba"; }
.uicon-map-location:before { content: "\f1bb"; }
.uicon-megaphone:before { content: "\f1bc"; }
.uicon-megaphone-1:before { content: "\f1bd"; }
.uicon-menu:before { content: "\f1be"; }
.uicon-menu-1:before { content: "\f1bf"; }
.uicon-menu-2:before { content: "\f1c0"; }
.uicon-menu-3:before { content: "\f1c1"; }
.uicon-menu-4:before { content: "\f1c2"; }
.uicon-microphone:before { content: "\f1c3"; }
.uicon-microphone-1:before { content: "\f1c4"; }
.uicon-minus:before { content: "\f1c5"; }
.uicon-minus-1:before { content: "\f1c6"; }
.uicon-more:before { content: "\f1c7"; }
.uicon-more-1:before { content: "\f1c8"; }
.uicon-more-2:before { content: "\f1c9"; }
.uicon-multiply:before { content: "\f1ca"; }
.uicon-multiply-1:before { content: "\f1cb"; }
.uicon-music-player:before { content: "\f1cc"; }
.uicon-music-player-1:before { content: "\f1cd"; }
.uicon-music-player-2:before { content: "\f1ce"; }
.uicon-music-player-3:before { content: "\f1cf"; }
.uicon-mute:before { content: "\f1d0"; }
.uicon-muted:before { content: "\f1d1"; }
.uicon-navigation:before { content: "\f1d2"; }
.uicon-navigation-1:before { content: "\f1d3"; }
.uicon-network:before { content: "\f1d4"; }
.uicon-newspaper:before { content: "\f1d5"; }
.uicon-next:before { content: "\f1d6"; }
.uicon-note:before { content: "\f1d7"; }
.uicon-notebook:before { content: "\f1d8"; }
.uicon-notebook-1:before { content: "\f1d9"; }
.uicon-notebook-2:before { content: "\f1da"; }
.uicon-notebook-3:before { content: "\f1db"; }
.uicon-notebook-4:before { content: "\f1dc"; }
.uicon-notebook-5:before { content: "\f1dd"; }
.uicon-notepad:before { content: "\f1de"; }
.uicon-notepad-1:before { content: "\f1df"; }
.uicon-notepad-2:before { content: "\f1e0"; }
.uicon-notification:before { content: "\f1e1"; }
.uicon-paper-plane:before { content: "\f1e2"; }
.uicon-paper-plane-1:before { content: "\f1e3"; }
.uicon-pause:before { content: "\f1e4"; }
.uicon-pause-1:before { content: "\f1e5"; }
.uicon-percent:before { content: "\f1e6"; }
.uicon-percent-1:before { content: "\f1e7"; }
.uicon-perspective:before { content: "\f1e8"; }
.uicon-photo-camera:before { content: "\f1e9"; }
.uicon-photo-camera-1:before { content: "\f1ea"; }
.uicon-photos:before { content: "\f1eb"; }
.uicon-picture:before { content: "\f1ec"; }
.uicon-picture-1:before { content: "\f1ed"; }
.uicon-picture-2:before { content: "\f1ee"; }
.uicon-pin:before { content: "\f1ef"; }
.uicon-placeholder:before { content: "\f1f0"; }
.uicon-placeholder-1:before { content: "\f1f1"; }
.uicon-placeholder-2:before { content: "\f1f2"; }
.uicon-placeholder-3:before { content: "\f1f3"; }
.uicon-placeholders:before { content: "\f1f4"; }
.uicon-play-button:before { content: "\f1f5"; }
.uicon-play-button-1:before { content: "\f1f6"; }
.uicon-plus:before { content: "\f1f7"; }
.uicon-power:before { content: "\f1f8"; }
.uicon-previous:before { content: "\f1f9"; }
.uicon-price-tag:before { content: "\f1fa"; }
.uicon-print:before { content: "\f1fb"; }
.uicon-push-pin:before { content: "\f1fc"; }
.uicon-radar:before { content: "\f1fd"; }
.uicon-reading:before { content: "\f1fe"; }
.uicon-record:before { content: "\f1ff"; }
.uicon-repeat:before { content: "\f200"; }
.uicon-repeat-1:before { content: "\f201"; }
.uicon-restart:before { content: "\f202"; }
.uicon-resume:before { content: "\f203"; }
.uicon-rewind:before { content: "\f204"; }
.uicon-rewind-1:before { content: "\f205"; }
.uicon-route:before { content: "\f206"; }
.uicon-save:before { content: "\f207"; }
.uicon-search:before { content: "\f208"; }
.uicon-search-1:before { content: "\f209"; }
.uicon-send:before { content: "\f20a"; }
.uicon-server:before { content: "\f20b"; }
.uicon-server-1:before { content: "\f20c"; }
.uicon-server-2:before { content: "\f20d"; }
.uicon-server-3:before { content: "\f20e"; }
.uicon-settings:before { content: "\f20f"; }
.uicon-settings-1:before { content: "\f210"; }
.uicon-settings-2:before { content: "\f211"; }
.uicon-settings-3:before { content: "\f212"; }
.uicon-settings-4:before { content: "\f213"; }
.uicon-settings-5:before { content: "\f214"; }
.uicon-settings-6:before { content: "\f215"; }
.uicon-settings-7:before { content: "\f216"; }
.uicon-settings-8:before { content: "\f217"; }
.uicon-settings-9:before { content: "\f218"; }
.uicon-share:before { content: "\f219"; }
.uicon-share-1:before { content: "\f21a"; }
.uicon-share-2:before { content: "\f21b"; }
.uicon-shuffle:before { content: "\f21c"; }
.uicon-shuffle-1:before { content: "\f21d"; }
.uicon-shutdown:before { content: "\f21e"; }
.uicon-sign:before { content: "\f21f"; }
.uicon-sign-1:before { content: "\f220"; }
.uicon-skip:before { content: "\f221"; }
.uicon-smartphone:before { content: "\f222"; }
.uicon-smartphone-1:before { content: "\f223"; }
.uicon-smartphone-10:before { content: "\f224"; }
.uicon-smartphone-11:before { content: "\f225"; }
.uicon-smartphone-2:before { content: "\f226"; }
.uicon-smartphone-3:before { content: "\f227"; }
.uicon-smartphone-4:before { content: "\f228"; }
.uicon-smartphone-5:before { content: "\f229"; }
.uicon-smartphone-6:before { content: "\f22a"; }
.uicon-smartphone-7:before { content: "\f22b"; }
.uicon-smartphone-8:before { content: "\f22c"; }
.uicon-smartphone-9:before { content: "\f22d"; }
.uicon-speaker:before { content: "\f22e"; }
.uicon-speaker-1:before { content: "\f22f"; }
.uicon-speaker-2:before { content: "\f230"; }
.uicon-speaker-3:before { content: "\f231"; }
.uicon-speaker-4:before { content: "\f232"; }
.uicon-speaker-5:before { content: "\f233"; }
.uicon-speaker-6:before { content: "\f234"; }
.uicon-speaker-7:before { content: "\f235"; }
.uicon-speaker-8:before { content: "\f236"; }
.uicon-spotlight:before { content: "\f237"; }
.uicon-star:before { content: "\f238"; }
.uicon-star-1:before { content: "\f239"; }
.uicon-stop:before { content: "\f23a"; }
.uicon-stop-1:before { content: "\f23b"; }
.uicon-stopwatch:before { content: "\f23c"; }
.uicon-stopwatch-1:before { content: "\f23d"; }
.uicon-stopwatch-2:before { content: "\f23e"; }
.uicon-stopwatch-3:before { content: "\f23f"; }
.uicon-stopwatch-4:before { content: "\f240"; }
.uicon-street:before { content: "\f241"; }
.uicon-street-1:before { content: "\f242"; }
.uicon-substract:before { content: "\f243"; }
.uicon-substract-1:before { content: "\f244"; }
.uicon-success:before { content: "\f245"; }
.uicon-switch:before { content: "\f246"; }
.uicon-switch-1:before { content: "\f247"; }
.uicon-switch-2:before { content: "\f248"; }
.uicon-switch-3:before { content: "\f249"; }
.uicon-switch-4:before { content: "\f24a"; }
.uicon-switch-5:before { content: "\f24b"; }
.uicon-switch-6:before { content: "\f24c"; }
.uicon-switch-7:before { content: "\f24d"; }
.uicon-tabs:before { content: "\f24e"; }
.uicon-tabs-1:before { content: "\f24f"; }
.uicon-target:before { content: "\f250"; }
.uicon-television:before { content: "\f251"; }
.uicon-television-1:before { content: "\f252"; }
.uicon-time:before { content: "\f253"; }
.uicon-trash:before { content: "\f254"; }
.uicon-umbrella:before { content: "\f255"; }
.uicon-unlink:before { content: "\f256"; }
.uicon-unlocked:before { content: "\f257"; }
.uicon-unlocked-1:before { content: "\f258"; }
.uicon-unlocked-2:before { content: "\f259"; }
.uicon-upload:before { content: "\f25a"; }
.uicon-user:before { content: "\f25b"; }
.uicon-user-1:before { content: "\f25c"; }
.uicon-user-2:before { content: "\f25d"; }
.uicon-user-3:before { content: "\f25e"; }
.uicon-user-4:before { content: "\f25f"; }
.uicon-user-5:before { content: "\f260"; }
.uicon-user-6:before { content: "\f261"; }
.uicon-user-7:before { content: "\f262"; }
.uicon-users:before { content: "\f263"; }
.uicon-users-1:before { content: "\f264"; }
.uicon-video-camera:before { content: "\f265"; }
.uicon-video-camera-1:before { content: "\f266"; }
.uicon-video-player:before { content: "\f267"; }
.uicon-video-player-1:before { content: "\f268"; }
.uicon-video-player-2:before { content: "\f269"; }
.uicon-view:before { content: "\f26a"; }
.uicon-view-1:before { content: "\f26b"; }
.uicon-view-2:before { content: "\f26c"; }
.uicon-volume-control:before { content: "\f26d"; }
.uicon-volume-control-1:before { content: "\f26e"; }
.uicon-warning:before { content: "\f26f"; }
.uicon-wifi:before { content: "\f270"; }
.uicon-wifi-1:before { content: "\f271"; }
.uicon-windows:before { content: "\f272"; }
.uicon-windows-1:before { content: "\f273"; }
.uicon-windows-2:before { content: "\f274"; }
.uicon-windows-3:before { content: "\f275"; }
.uicon-windows-4:before { content: "\f276"; }
.uicon-wireless-internet:before { content: "\f277"; }
.uicon-worldwide:before { content: "\f278"; }
.uicon-worldwide-1:before { content: "\f279"; }
.uicon-zoom-in:before { content: "\f27a"; }
.uicon-zoom-out:before { content: "\f27b"; }